[submodule "lib/tinyfiledialogs"]
	path = lib/tinyfiledialogs
	url = https://github.com/native-toolkit/tinyfiledialogs.git
[submodule "lib/lodepng"]
	path = lib/lodepng
	url = https://github.com/lvandeve/lodepng
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb
